@model CartListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h1>Your Cart</h1>

@if (Model.Cart.CartLines.Count == 0)
{
    <h3 class="align-items-xxl-center text-black-50">Your Cart is Empty...</h3>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock Unit</th>
                <th>Quantity</th>
            </tr>
        </thead>
        @foreach (var cartLine in Model.Cart.CartLines)
        {
            <tr>
                <td>@cartLine.Product.ProductName</td>
                <td>@cartLine.Product.QuantityPerUnit</td>
                <td>@cartLine.Product.UnitPrice</td>
                <td>@cartLine.Product.UnitsInStock</td>
                <td><a class="btn btn-sm btn-outline-dark mx-2" asp-asp-controller="Cart" asp-action="AdjustQuantity" asp-route-productId="@cartLine.Product.ProductId" asp-route-adjustType="decrease">&lt;</a>@cartLine.Quantity<a class=" btn btn-sm btn-outline-dark mx-2" asp-asp-controller="Cart" asp-action="AdjustQuantity" asp-route-productId="@cartLine.Product.ProductId" asp-route-adjustType="increase">&gt;</a></td>
                <td><a class="btn btn-sm btn-danger btn-close p-sm-2" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-productId="@cartLine.Product.ProductId"></a></td>
            </tr>
        }
    </table>

}
